*{
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******************/


/**********Aqui Começa barra de navegação e logo marca**************/

header{
	padding: 19px 2% 35px 2%;
	height: 70px;
}	
.logo{
	float: left;
}
nav.desktop-menu{
	float: right;
}
nav.desktop-menu ul{
	list-style-type: none;
}
nav.desktop-menu ul li{
	float: left;
	margin-top: 40px;
	/*padding: 0 2%;*/
}
nav.desktop-menu li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 20px;
}
nav.mobile-menu{
	display: none;
}

nav.mobile-menu{
	width: 40px;
	height: 40px;
	float: right;
	background-image: url('../image/menu-de-bar.png');
	background-size: 100% 100%;
	margin-top: 40px;
	cursor: pointer;
	display: none;
}

/**********Mobile Menu*********/

nav.mobile-menu ul{
	width: 100%;
	top: 115px;
	left: 0;
	border-bottom: 3px solid #EB2D2D;
	padding: 0 40%;
	position: absolute;
	z-index: 999;
	background-color: white;
	list-style-type: none;
	display: none;
}
nav.mobile-menu ul li{
	font-size: 20px;
	padding: 20px 0;
	font-style: italic;
	position: relative;
}
nav.mobile-menu li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
/**********/

/********Aqui começa o Banner********/

section.banner{
	width: 100%;
	height: 650px;
	background-color: #000000;
	background-image: url('../image/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.text-banner{
	padding: 100px;
}
.text-banner-single{
	width: 314px;
	height: 60px;
	font-style: italic;
	line-height: 60px;
	margin-top: 20px;
	padding: 5px 18px;
	text-transform: uppercase;
	color: #fff;
	font-size: 23px;
	background-image: url('../image/caixa.png');
	background-size: 100% 100%;
}
.text-banner-single:nth-of-type(2){
	width: 158px;
	position: relative;
	left: -10px;
	background-image: url('../image/caixa2.png');
}
.text-banner-single:nth-of-type(3){
	width: 79px;
	position: relative;
	left: -15px;
	background-image: url('../image/caixa3.png');
}
.text-banner-single:nth-of-type(4){
	width: 390px;
	position: relative;
	left: -15px;
	background-image: url('../image/caixa4.png');
	color: #000000;
}

/************/


section.veiculos-destaques .container{
	max-width: 1000px;
	padding: 40px 0;
}
section.veiculos-destaques{
	padding: 90px 2%;
}
.line-titulo{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.line1{
	position: absolute;
	width: 100%;
	height: 2px;
	top: 20px;
	background-color: black;
}

.line-titulo h2{
	position: relative;
	background-color: white;
	font-size: 27px;
	display: inline-block;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
	padding: 0 20px;
}
.vitrini-carro{
	float: left;
	width: 33.3%;
}
.vitrini-carro .carro-img{
	width: 100%;
	height: 10px;
	padding-top: 100%;
	border: 7px solid white;
	background-size: 100% 100%;
}
.vitrini-carro h2{
	margin-left: 8px;
	padding-top: 8px;
	font-size: 19px;
	font-weight: normal;
	color: black;
}
.vitrini-carro p{
	margin-left: 8px;
	padding-top: 2px;
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}
 a{
	margin-left: 8px;
	text-align: center;
	margin-top: 10px;
	width: 140px;
	display: block;
	line-height: 30px;
}
.btn1{
	width: 140px;
}
.btn{
	font-style: italic;
	font-size: 16px;
	color: white;
	border-top: 3px solid #B21E1E;
	border-bottom: 3px solid #B21E1E;
	background-color: #EB2D2D;
	text-decoration: none;
} 
.servicos-descricao{
	overflow: hidden;
	display: flex;
}

.half1{
	width: 50%;
	padding: 90px 0;
	background-color: #242424;
	color: white;

}
.half1-wraper{
	padding-left: 100px;
	text-align: left;
	display: inline-block;
}
.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 29px;
}
.half1-wraper ul{
	display: inline-block;
	margin-top: 18px;
}
.half1-wraper li{
	margin-left: 17px;
}
.half1-wraper a{
	display: inline-block;
	margin-left: 40px;
	vertical-align: bottom;
}
.half2{
	float: left;
	width: 50%;
	padding: 90px 100px;
	background-color: #EB2D2D;
	color: white;
}
.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 29px;
}
.half2 .depoimentos-single{
	margin-top: 10px;
}
.depoimentos-single p{
	font-size: 18px;
}

.navigation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top:30px;
}

.arrow{
	float: left;
}

.navigation img{
	cursor: pointer;
	margin:0 20px;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}
/**************/

section.contato{
	padding: 80px 4%;
}
section.contato form{
	max-width: 700px;
	margin:50px auto;
}
section.contato .input-wraper{
	float: left;
	padding:10px;
	margin-top:7px;
}
section.contato input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}
section.contato textarea{
	width: 100%;
	border:1px solid #ccc;
	height: 120px;
	padding:8px;
	resize: none;
}
section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	cursor: pointer;
	display: inline-block;
}

.w100{
	width: 97%;
}

.w50{
	width: 47%;
}

/*Final do Site*/
footer{
	padding: 30px;
	background: #252525
}
footer nav.nav-footer{
	float: left;
}
footer nav.nav-footer ul{
	list-style-type: none;
}
footer nav.nav-footer ul li{
	float: left;
	font-size: 20px;
	padding: 0 0;px;
}
footer nav.nav-footer ul a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
footer p{
	float: right;
	color: white;
	font-size: 20px;
	font-style: italic;
	margin-top: 10px;
	text-transform: uppercase;
}
/**************Pagina de Vendas************/

section.venda{
	padding: 90px 0;
	min-height: 90%;

}
.content-venda{
	margin-top: 40px;
}
.sidebar{
	float: left;
	width: 30%;
}
.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.search1{
	width: 90%;
}
.search1 .barra-preco{
	width: 100%;
	height: 20px;
	margin-top: 8px;
	border-radius: 20px;
	border: 1px solid #ccc;
	position: relative;
}
.barra-preco-fill{
	width: 30%;
	height: 20px;
	left: 0;
	top:0;
	border-radius: 20px;
	position: absolute;
	background: linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}
.pointer-fill{
	width: 26px;
	height: 26px;
	top: -3px;
	left: calc(30% - 13px);
	border: 1px solid #777;
	cursor: pointer;
	border-radius: 8px;
	position: absolute;
	background: linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180))
}
.valor-pesquisa{
	margin-top: 8px;
}
.valor-pesquisa p:nth-of-type(1){
	float: left;
}
.valor-pesquisa p:nth-of-type(2){
	float: right;
}
/*********************************************************/
.search2{
	margin-top: 40px;
}
.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.form-venda-wraper{
	margin-top: 10px;
}
.form-venda-wraper input{
	display: none;
}
.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}
.circle{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	display: none;
	background: black;
	left: 6px;
	top: 6px;
}
.form-venda-wraper span{
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
}
.vitrini-vendas{
	overflow: hidden;
	width: 70%;
	float: left;
}

.vitrini-vendas .vitrini-carro{
	margin-top: 20px;
}

/******************************************************************/
section.venda-single{
	padding: 40px 0;
	max-width: 1280px;
}
.info-veiculo{
	float: left;
	width: 60%;
}
.descricao-veiculo{
	float: left;
	width: 40%;
}
.foto-destaque{
	width: 100%;
	padding-top:70%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/*********Responsivo pra baixo************/

@media screen and (max-width: 1040px){
	section.banner{
		background-size: 90% auto;
		background-position: 200% 100%;
	}

}

@media screen and (max-width: 1024px){
	section.banner{
		background-size: cover;
		background-position: center;
		height: 70vw;
		min-height: 600px;
	}
}
@media screen and (max-width: 1140px){
	.half1-wraper a{
		display: block;
		margin-top: 20px;
		margin-left: -1px;
	}
}
@media screen and (max-width: 930px){
	footer p{
		float: none;
		text-align: center;
	}
	footer nav{
		display: none;
	}
}
@media screen and (max-width: 580px){
	.desktop-menu{
		display: none;
	}

	.text-banner{
		padding: 30px;
	}
	.text-banner-single{
		font-size: 13px;
	}
	.vitrini-carro{
		float: none;
		width: 70%;
		display: inline-block;
	}
	section.veiculos-destaques .container{
		max-width: 980px;
		padding: 40px 0;
		text-align: center;
		}
	.vitrini-carro h2{
		margin-top: 8px;
		text-align: center;
}
	.vitrini-carro p{
		margin-top: 3px;
		text-align: center;
}
	.vitrini-carro a{
		margin-top: 20px;
		display: inline-block;
		text-align: center;
}
}	

@media screen and (max-width: 768px){
	.search1{
		display: inline-block;
	}
	.search2{
		text-align: left;
		display: inline-block;
	}
	.sidebar{
		width: 100%;
		text-align: center;
	}
	.vitrini-vendas{
		width: 100%;
		text-align: center;
	}
	.w50{
		width: 97%;
	}

	.nome-depoimento{
	float: right;
	width: auto;
	margin:0px 0px;
	}

	section.servicos-descricao{
		flex-direction: column;
	}
	.half1{
		/*text-align: center;*/
	}

	.half1, .half2{
		padding: 70px 4%;
		width: 100%;
	}

	.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display: block;
	}


	.text-banner-single:nth-of-type(4){
		width: 280px;
		position: relative;
		font-size: 15px;
	}
	/*.half1-wraper {
		margin: 0 50px;
	}*/
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}
	@media screen and (max-width: 900px){


	.nome-depoimento{
	float: left;
	width: 100%;
	margin:20px 20px;
	}
}	
}
